body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}
.container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.content-block {
    display: none;
}
.content-block.active {
    display: block;
}
.menu-btn.active {
    background-color: rgb(0, 0, 255);
    color: rgb(255, 0, 0);
}